h1 {
	color:red;
	font-size:1.2em;
	background-color:yellow;
	text-align:center;
}
h2 {
	color:gray;
	font-size:1.1em;
	font-weight:bold;
}

p{
	margin-bottom:10px;
}

#code{
	background-color:gray;
}
.key{
	font-weight:bold;
	color:blue;
}
.error{
	background-color:red;
}
.good{
	background-color:green;
}
.string{
	color:blue;
}
